
<h1>Pirates</h1>

<div class="pirate">
  <h3>Name: <%= @pirate.name %></h3><br>
  <h4>Weight: <%= @pirate.weight %> pounds</h4><br>
  <h4>Height: <%= @pirate.height %> inches</h4>
</div><br>

<h1>Ships</h1>
<% @ships.each do |boat| %>
  <div class="ship">
    <p>Name: <%= boat.name %></p><br>
    <p>Type: <%= boat.type %></p><br>
    <p>Booty: <%= boat.booty %></p>
  </div><br>
<% end %>
